*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.board {
    width:600px;
    background: #0e0d0d;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4,80px);
    grid-gap:6px;
    display: grid;
    border:1px solid #100f0f;
    cursor:pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:4px;
    
}

.box {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background: #f1eeee;
}

.treasure {
    display:none;
}

.click {
    width: 75px;
    height:50px;
    background-color:rgb(255, 255, 255);
    color:#000000;
    font-weight: 600;
    cursor:pointer;
}

.click:hover {
    background: #def13a;
}